extends ../main.layout.pug

block variables
  - var title = 'About me'
  - var name = 'Роман Карманов'
  - var text = 'Личный сайт веб разработчика'

block content
  header.header-about
    video.video(src="night.mp4" autoplay loop)
    .about_social
      include ../common/social.pug
    .about_author
      include ../common/author.pug
    svg.burger
      use(xlink:href="assets/images/icons/sprite.svg#hamburger")
    .arrow
      svg.about_arrow-dawn
        use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
    svg.triangles(viewBox="0 0 1200 108" preserveAspectRatio="xMinYMax")
            polygon.triangle_left(points="0,0 0,108 601,108 601,105" fill="#f2f0e8")
            polygon.triangle_right(points="1200,0 1200,108 599,108 599,105" fill="#eae8e2")
  section.about_content
    .left_block
      .left_elem
        .about-me
          .about-me__content
            img.star_img(src="../../assets/images/bg/stars2_about.png", alt="star")
            .about-me__text ОБО МНЕ
        .who-i
          .who-i__avatar
            img.avatar-img(src="assets/images/content/author_more.jpg", alt="avatar")
            .who-i__caption  
              .avatar_caption КТО Я
            .who-i__text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .right_block
      .my-skill
        .my-skill__caption ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
      .my-skill__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .my-skill__ability
        #skills-component
  section.contact
    .map_block#map
    .contact_block
      .contact_block_elem
        .contact_titel КОНТАКТЫ
      ul.contact_list
        li.contact_item
          svg.svg_contact
            use(xlink:href="assets/images/icons/sprite.svg#skype")
          a.text_contact(href="skype:way-g5524") way-g5524
        li.contact_item
          svg.svg_contact
            use(xlink:href="assets/images/icons/sprite.svg#phone")
          a.text_contact(href="tel:+79042057113") +79042057113
        li.contact_item
          svg.svg_contact
            use(xlink:href="assets/images/icons/sprite.svg#envelope_n")
          a.text_contact(href="mailto:way_g@mail.ru") way_g@mail.ru
        li.contact_item
          svg.svg_contact
            use(xlink:href="assets/images/icons/sprite.svg#map_marker")
          .text_contact Сосногорск, 6 микрорайон, д. 1
    include ../common/footer.pug

block scripts

  script(src="about.bundle.js")