extends ../auth.layout.pug

block variables
  - var title = 'Welcome'
  - var name = 'Роман Карманов'
  - var text = 'Личный сайт веб разработчика'

block content
  section.welcome
    img.header_bg(src="assets/images/bg/bg_no_night.png")
    video.video(src="assets/video/night.mp4" autoplay loop)
    .welcome_authorize
      a.welcome_btn#welcome_btn(href="#") Авторизоваться
    .flip-contaner
      .auth#auth
        .auth-title АВТОРИЗУЙТЕСЬ
        .auth-input__login
          .svg-auth_background
            svg.svg-auth
              use(xlink:href="assets/images/icons/sprite.svg#login")
          input.input-login(type="text" placeholder="Логин")
        .auth-input__login
          .svg-auth_background
            svg.svg-auth
              use(xlink:href="assets/images/icons/sprite.svg#password")
          input.input-password(type="text" placeholder="Пароль")
        label.checkbox-label
          input#checkbox(type="checkbox", name="checkbox")
          .checkbox-elem
            svg.svg-checkbox
              use(xlink:href="assets/images/icons/sprite.svg#check")
          .checkbox-elem__text Я человек
        .switch__title Вы точно не робот?
        .switch
          label.label-swith
            input.input_swith(type="radio" name="switch")
            .swith_dot
            .swith__text Да
          label.label-swith
            input.input_swith(type="radio" name="switch")
            .swith_dot
            .swith__text Не уверен
        .auth-btns
          input#btn-main(type="button", value="На главную").button
          input#btn-enter(type="button", value="Войти").button
      .welcome_block#welcome_block
        .welcome_author-elem
          include ../common/author.pug
        .welcome_social-elem
          include ../common/social.pug
        .welcome_link-elem
          a.link(href="../works.html") Мои работы
          a.link(href="../about.html") Обо мне
          a.link(href="../blog.html") Блог
    .made_author
      include ../common/made_author.pug
  include ../common/preloader.pug
      
