extends ../auth.layout.pug

block variables
  - var title = 'Welcome'
  - var name = 'Роман Карманов'
  - var text = 'Личный сайт веб разработчика'

block content
  section.welcome
    .welcome_authorize
      a.welcome_btn(href="#") Авторизоваться
    .welcome_block
      .welcome_author-elem
        include ../common/author.pug
      .welcome_social-elem
        include ../common/social.pug
      .welcome_link-elem
        a.link(href="#") Мои работы
        a.link(href="#") Обо мне
        a.link(href="#") Блог
    .made_author
      include ../common/made_author.pug

