footer.footer.footer_blog.footer_work.footer_about
      ul.footer_block
        li.footer_elem
          .footer_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        li.footer_elem
          .footer_elem_center
            .footer_nav
              nav.nav
                ul.nav_list
                  li.nav_point
                    a.nav_link(href='#') Мои работы
                  li.nav_point
                    a.nav_link(href='#') Обо мне
                  li.nav_point
                    a.nav_link(href='#') Блог
                  li.nav_point
                    a.nav_link(href='#') Авторизация
            .footer_social
              include ../common/social.pug
        li.footer_elem
          .footer_contact
            ul.footer_contact
              li.footer_contact_item way-g5524
              li.footer_contact_item +79042057113
              li.footer_contact_item way_g@mail.ru
              li.footer_contact_item Сосногорск, 6 микрорайон, д. 1
      .footer_copyright
        include ../common/made_author.pug