nav.full-screen
    ul.full-screen__list
        li.full-screen__item.full-screen_acive
            a.full-screen__link(href="../works.html") МОИ РАБОТЫ
        li.full-screen__item
            a.full-screen__link(href="../blog.html") БЛОГ
        li.full-screen__item 
            a.full-screen__link(href="../about.html") ОБО МНЕ
        li.full-screen__item
            a.full-screen__link(href="../index.html") АВТОРИЗАЦИЯ
img.close(src="assets/images/bg/close.png")