.preloader
    svg.preloader__icon(viewBox="0 0 100 100" width="50px" height="50px")
      circle(stroke="#fff" fill="none" stroke-width="2" cx="50" cy="50" r="33").loader-big
      circle(stroke="#fff" fill="#fff" stroke-width="1" cx="20" cy="20" r="5").loader-small
      span.preloader__number 100