.social-elem
    a.link_social(href="https://vk.com/id62390398" target="_blank")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#vk")
    a.link_social(href="https://github.com/RomanKarmanov" target="_blank")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#github")
    a.link_social(href="https://t.me/Aasgeier" target="_blank")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#telegram_logo")
