.social-elem
    a.link_social(href="#")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#vk")
    a.link_social(href="#")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#github")
    a.link_social(href="#")
      svg.social.social_footer
        use(xlink:href="assets/images/icons/sprite.svg#in")
