include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    title #{title}

    link(rel='stylesheet' href='main.min.css')
  body#body
    .wrapper
      block content

      include common/full-screen.pug
      include ./components/enter.pug
      
    
    block scripts
