.header-about {
    background: url(assets/images/bg/hero.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}
.about_social {
    position: absolute;
    margin: 30px 30px;
}
.about_author {
    background: url(assets/images/bg/vectorStar.png) center center/cover no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 480px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.burger {
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 30px;
    top: 30px;
    fill: #fff;
}
.arrow {
    position: absolute;
    bottom: 70px;
    width: 100%;
    fill: #dfdcd5;
    z-index: 1;
    text-align: center;
    
}
.about_arrow-dawn {
    width: 27px;
    height: 17px;
    cursor: pointer;
}
.skill_list {
    display: flex;
}
.skill {
    display: inline-block;
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
    
}
.circle {
    fill:transparent;
    stroke-width: 10px;
    stroke: #dfdcd5;
    
}
.circle_tracing {
    stroke: #165ad1;
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
}
// .circle_text {
//     position: absolute;
//     transform: rotate(90deg);
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
    
// }