.about_content {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
}
.triangle_right {
    @include tablets {
        fill: #f2f0e8;
    }
}
.left_block {
    position: relative;
    width: 50%;
    background-color: #f2f0e8;
    @include tablets {
        width: 100%;
    }
}
.left_elem {
    display: flex;
    margin-right: 20px;
    @include pc {
        flex-direction: column;
        
        align-items: center;
    }
}

.about-me {
    width: 50%;
    @include pc {
        max-width:100%;
        
    }
    @include tablets {
        width: 100%;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Sansus';
        font-weight: normal;
        font-style: normal;
        font-size: 63px;
    }
}
.star_img {
    width: 280px;
    height: 180px;
}
.who-i {
    width: 50%;
    @include pc {
        max-width: 100%;
        
    }
    &__avatar {
       display: flex;
       flex-direction: column;
    }
    &__caption {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
}

.avatar-img {
    max-width: 440px;
    max-height: 390px;
}

.avatar_caption {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 90px;
    border-bottom: 3px solid #9c9d9f;
    font-family: 'Sansus';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
}
}
.right_block {
    width: 50%;
    background-color: #eae8e2;
    position: relative;
    padding: 0px 35px;
    @include tablets {
        background-color: #fff;
        width: 100%;
    }
}