.about_content {
    display: flex;
    height: 100vh;
}
.left_block {
    position: relative;
    width: 50%;
    background-color: #f2f0e8;
}
.left_elem {
    display: flex;
    margin-right: 20px;
}

.about-me {
    width: 100%;
    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Sansus';
        font-weight: normal;
        font-style: normal;
        font-size: 63px;
    }
}
.star_img {
    width: 280px;
    height: 180px;
}
.who-i {
    width: 50%;
    &who-i__avatar {
        margin-right: 50px;
    }
    &__caption {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
}

.avatar-img {
    max-width: 440px;
    max-height: 390px;
}

.avatar_caption {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 90px;
    border-bottom: 3px solid #9c9d9f;
    font-family: 'Sansus';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
}
}
.right_block {
    width: 50%;
    background-color: #eae8e2;
    position: relative;
    padding: 0px 35px;
}

.my-skill {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    &__caption {
    font-family: 'Sansus';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    
    }
    &:after {
        content: '';
        width: 90px;
        height: 3px;
        background-color: #878e9e;
        display: block;
        margin: 30px 0px;
    }
    }
    &__ability {
        padding-top:10px;
    }
    &__item {
        padding-bottom: 10px;
    }
}
.skill_titel {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}
