.header-about {
    // background: url(assets/images/bg/bg_no_night.png) bottom center/cover no-repeat;
    height: 100vh;
    position: relative;
    z-index: 20;
    overflow: hidden;
}
.header_bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
}
.video {
    width: 1950px;
    height: 1100px;
    z-index: -50;
}
.about_social {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 50;
}
.about_author {
    background: url(assets/images/bg/vectorStar.png) center center/cover no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 480px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.burger {
    width: 40px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 30px;
    top: 30px;
    fill: #fff;
}
.arrow {
    position: absolute;
    bottom: 70px;
    width: 100%;
    fill: #bdc5d3;
    z-index: 1;
    text-align: center;
    
}
.about_arrow-dawn {
    width: 27px;
    height: 17px;
    cursor: pointer;
    &:hover {
        fill: #fff;
        transition: 0.3s;
    }
}