.communication {
    background: url(assets/images/bg/lighthouse.jpg) center center/cover no-repeat;
    height: 1350px;
    position: relative;
}
.what_about_me {
    width: 100%;
    display: flex;
    justify-content: center;
}
.what_about_me_center {
    position: relative;
    width: 730px;
    text-align: center;
}
.what_about_me_titel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-style: normal;
    font-family: 'Sansus';
    font-size: 63px;
    color:#fff;
}
.block_teachers {
    display: flex;
    width: 100%;
    justify-content: center;
}
.block_founder {
    width: 400px;
    height: 250px;
    text-align: center;
    position: relative;
}
.img_quote {
    position: absolute;
    top: 60px;
    left: 0;

}
.founder_text {
    color:#fff;
    font-weight: normal;
    font-style: italic;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: left;
}
.name_founder {
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}
.founder_loftschool {
    font-weight: normal;
    font-style: italic;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
}
.block_communication {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 45%;
    align-items: center;
}
.block_communication_me {
    height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    position: relative;
    
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.05;
        position: absolute;
        z-index: -1;
    }
}
.communication_coption {
    font-weight: normal;
    font-style: normal;
    font-family: 'Sansus';
    font-size: 35px;
    color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    &:after {
        content: '';
        height: 3px;
        width: 90px;
        background-color: #888783;
        display: block;
        margin: 30px 0px;
    }
}
.forma {
    display: flex;
    flex-direction: column;
}
.lebel {
    margin-bottom: 20px;
    width: 100%;
    &:last-child {
        margin-bottom: 0px;
    } 
}
.input {
    width: 80%;
    position: relative;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #959898;
    background-color: #fff;
        opacity: 0.07;
    z-index: 1;
    padding: 15px 15px;
    // &:after {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     display: block;
        
    //     position: absolute;
    //     z-index: -1;
    // }
}
.textarea {
    width: 80%;
    height: 130px;
    background-color: #fff;
    opacity: 0.07;
    border: none;
    color: #959898;
    padding: 15px 15px;
    resize: none;
    outline: none
}
.btn {
    height: 45px;
    cursor: pointer;
    
    &_send {
        width: 50%;
        background-color: #004cd1;
        border:none;
    }
    &_clean {
        width: 50%;
        background: transparent;
        color:#fff;
        border: none;
    }
}
.block_arrow_up {
    width: 100%;
    text-align: center;
}
.svg_star_three {
    width: 28px;
    height: 20px;
    fill: #888783;
    cursor: pointer;
}
.communication .footer_work {
    background-color: initial;
    z-index: 1;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: #1c1f29;
        opacity: 0.85;
        z-index: -1;
    }
}