.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 200px;
    background-color: #1c1f29;
    // @include pc {
    //     height: 220px;
    // }
    @include tablets {
        height: 280px;
    }
    @include phones {
        height: 445px;
    }
}
.footer_block {
    position: relative;
    display: grid;
    grid-template: 
        "text nav link"
        "copyright copyright copyright"
        /1fr 1fr 1fr;
    
    @include tablets{

        grid-template:
            "text text"
            "nav link"
            "copyright copyright"/ 1fr 1fr;

        }
    @include phones {
        grid-template: 
            "text"
            "nav"
            "link"
            "copyright" / 1fr;
    }
    
}
.footer_elem {
    width: 100%;
    
    
}
.footer_elem-start {
    grid-area: text;
    @include tablets{
        text-align: center;
        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 90%;
            background-color: #494c54;
            margin: 0px 5%;
        }
    }
}
.footer_elem-mid {
    grid-area: nav;
}
.footer_elem-end {
    grid-area: link;
}
.footer_text {
    margin: 30px 30px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
.footer_elem_center {
    border-left: 1px solid #494c54;
    border-right: 1px solid #494c54;
    padding: 0px 30px;
    height: 60%;
    @include tablets {
        border:none;
    }
    @include phones {
        padding: 0px;
       
        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 90%;
            background-color: #494c54;
            margin: 0px 5%;
            @include phones {
                margin-top: 20px;
            }
        }
    }
}
.footer_nav {
    margin-top: 30px;
    @include tablets {
        margin-top: 20px;
    }
    @include phones {
       display: flex;
       justify-content: center;
    }
}
.nav {
    @include phones {
        width: 100%;
    }
}
.nav_list {
    
    display: flex;
    @include phones {
        justify-content: space-around;
    }
}
.nav_link {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    @include phones {
        margin-right: 0px;
    }
}
.footer_social {
    margin-top: 30px;
    @include phones {
        display: flex;
        justify-content: center;
    }
}
.footer_social .social_footer {
    fill: #8e8f94;
    &:hover {
        fill:#004cd1;
        transition: 0.3s;
    }
}
.footer_contact {
    margin:30px 30px;
    @include phones {
        margin: 20px 0px;
    }
}
.footer_contact_list {
    @include phones {
        text-align: center;
    }
}
.footer_contact_item {
    margin-bottom: 5px;
    color:#fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.footer_contact__link {
    text-decoration: none;
    color: #cbccce;
}
.footer_copyright {
    height: 38px;
    width: 100%;
    text-align: center;
    background-color: #083c96;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    grid-area: copyright;
    position: relative;
    @include phones {
        height: 70px;;
    }
}
.contact .footer_about {
    background-color: initial;
    z-index: 1;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: #1c1f29;
        opacity: 0.85;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // grid-area:text / nav / link / copyright;

    }
}
.footer_author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tablets {
        width: 100%;
    }
}