.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 185px;
    background-color: #1c1f29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_block {
    display: flex;
}
.footer_elem {
    width: 100%;
}
.footer_text {
    margin: 30px 30px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}
.footer_elem_center {
    border-left: 1px solid #494c54;
    border-right: 1px solid #494c54;
    padding: 0px 30px;
    height: 60%;
}
.footer_nav {
    margin-top: 30px;
    

}
.nav_list {
    display: flex;
    
}
.nav_link {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}
.footer_social {
    margin-top: 30px;
}
.footer_social .social_footer {
    fill: #8e8f94;
    &:hover {
        fill:#004cd1;
        transition: 0.3s;
    }
}
.footer_contact {
    margin: 30px 30px;
}
.footer_contact_item {
    margin-bottom: 5px;
    color:#fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.footer_contact__link {
    text-decoration: none;
    color: #cbccce;
}
.footer_copyright {
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #083c96;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}