.works {
    background: url(assets/images/bg/hero.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.works .arrow  {
    bottom: 200px;
}
.triangles-works .triangleBlog {
    fill:#0d1120;
    opacity: 0.85;
}


.work_slider {
    width: 50%;
    height: 100%;
}

.my-work {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.my-work__star {
    position: relative;
}
.star_img {
    width: 340px;
}
.my-work__titel {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Sansus';
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    color:#fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.presentation-work {
    height: 100vh;
}
