.works {
    background: url(assets/images/bg/hero.jpg) center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

.works .arrow  {
    bottom: 220px;
    z-index: 1;
}
.triangles-works .triangleBlog {
    fill:#0d1120;
    opacity: 0.85;
}


.work_slider {
    width: 50%;
    height: 100%;
}

.my-work {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: flex-end;
    clip-path: polygon(50% 40%, 100% 0, 100% 100%, 0 100%, 0 0);
    &:after {
        content: '';
        display: block;
        opacity: 0.85;
        background-color: #0d1120;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
}
.my-work__star {
    position: relative;
}
.star_img {
    width: 340px;
}
.my-work__titel {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Sansus';
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    color:#fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @include phones {
        font-size: 35px;
        justify-content: center;
    }
}